.tip {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100px;
  }
  div.tip span {
    position: absolute;
    text-align: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    padding: 5px 10px;
  }
  div.tip span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  div:hover.tip span {
    font-size: 10pt;
    visibility: visible;
    opacity: 0.9;
    top: 30px;
    left: 0;
    z-index: 999;
  }